



body {

background-color: honeydew;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}


h1 {

text-align: center;
font-size: 64px;

}


h3 {

text-align: center;
font-size: 32px;

}

.sizing {

height: 200px;
width: 200px;
padding-top: 32px;
padding-left: 32px;
padding-right: 32px;
margin-bottom: 16px;

}

div {
display: inline-block;
padding: 16px;
margin: 32px;
text-align: center;
background-color: #bdcf9a;
}

a {
display: block;
font-size: 28px;
}